@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  scroll-behavior: smooth;
  color-scheme: dark;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  /* background: linear-gradient(
    358.4deg,
    rgba(249, 151, 119, 1) -2.1%,
    rgba(98, 58, 162, 1) 90%
  ); */

  background: #050547;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: greenyellow;
}

body {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/* .container_wrapper{
  background: linear-gradient(
    358.4deg,
    rgba(249, 151, 119, 1) -2.1%,
    rgba(98, 58, 162, 1) 90%
  );
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Adjust the opacity value (0.3) as desired */
  backdrop-filter: blur(8px); /* Adjust the blur value as desired */
  z-index: 1;
}

/* prelogo */
.prelogo {
  width: 200px;
  height: 200px;
}

/* Loader css */
.loader {
  display: inline-block;
  width: 190px;
  height: 10px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.loader span {
  font: 700 22px monospace;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
  letter-spacing: 5px;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-image: linear-gradient(332deg, #9c6bff, #9832ff);
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;
  animation: load5123 1s infinite;
}

@keyframes load5123 {
  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.auth_main {
  background: url("../src/assets/loginbg.png");
  width: 100%;
  height: 100vh;
  background-position: center center;
  z-index: -1;
}

/* login and regiter form css */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #240046; */
  max-height: 420px;
  overflow: hidden;
  border-radius: 12px;
  /* box-shadow: 7px 7px 10px 3px #24004628; */

  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
}

.register label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .register {
  transform: translateY(-60%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}

.preloader {
  width: 100%;
  height: 100vh;
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f0743, #41295a);
  background: linear-gradient(to right, #2f0743, #41295a);
}

/* login loader */
.loader_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dot_login {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50%;
  animation: dot-pulse2 1.5s ease-in-out infinite;
}

.dot_login.dot-1 {
  background-color: #4285f4;
  animation-delay: 0s;
}

.dot_login.dot-2 {
  background-color: #34a853;
  animation-delay: 0.3s;
}

.dot_login.dot-3 {
  background-color: #fbbc05;
  animation-delay: 0.6s;
}

.dot_login.dot-4 {
  background-color: #ea4335;
  animation-delay: 0.9s;
}

.dot_login.dot-5 {
  background-color: #4285f4;
  animation-delay: 1.2s;
}

@keyframes dot-pulse2 {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/* search input */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input_search {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Arial, Helvetica, sans-serif;
}

.input_search::placeholder {
  color: #9e9ea7;
}

.input_search:focus,
input:hover {
  outline: none;
  color: #0d0c22;
  border-color: rgba(255, 191, 0, 0.4);
  background-color: #ffffffbe;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.container_wrapper {
  margin-top: 6.5rem;
  height: max-content;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}

.banner_home_card {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.img_profile {
  width: 60px;
  height: 60px;
}

.name_home_card {
  color: white;
  text-align: center;
  font-size: 1rem;
}

.card_user {
  background: rgba(198, 198, 198, 0.51);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(198, 198, 198, 0.3);

  padding-bottom: 2rem;
}

@media (max-width: 1235px) {
  .container_wrapper {
    margin-top: 6.5rem;
    height: max-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .img_profile {
    width: 60px;
    height: 60px;
    top: 6.9rem;
    left: 46%;
  }
}

@media (max-width: 766px) {
  .container_wrapper {
    margin-top: 6.5rem;
    height: max-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .like_share_comment {
    font-size: 0.6rem;
  }

  .like_text {
    font-size: 0.6rem;
  }

  .feed {
    margin-left: 0px;
    margin-top: 2rem;
  }

  .news_card {
    margin-left: 0px;
    margin-top: 2rem;
  }
}

.feed_card,
.post_detail_card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* margin-top: 1.4rem; */
  border-radius: 1rem;
  padding: 1rem;
}

.post_detail_card {
  margin-left: 0.5rem;
}

.news_card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* margin-top: 1.4rem; */
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-right: 0.5rem;
}

.newsName {
  font-weight: 600;
  font-size: 0.9rem;
}

.newsName:hover {
  color: rgb(255, 216, 216);
}

.dot_blank {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsCard {
  margin-top: 1rem !important;
}

.created_user_At {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.content {
  font-size: 0.94rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.4rem;
}

.image_main_home_post {
  width: 100%;
  height: 400px;
  margin-top: 1rem;
  border-radius: 1rem;
}

.like_share_comment {
  font-size: 1.5rem;
  font-weight: 500;
}

.like_text {
  font-size: 1rem;
  color: white;
}

.img_profile_pic,
.img_pro {
  top: 35%;
  left: 2%;

  width: 140px;
  height: 140px;
}

.profile_details {
  margin-top: 5rem;
}

.name_on_profile {
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  margin-left: 1.2rem;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

.input_create {
  width: 100%;
  height: 50px;
  background: #c3c3c363;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.ant-modal-content {
  background: rgba(255, 255, 255, 0.06) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.ant-modal-title {
  background-color: #ffffff4e !important;
  display: none !important;
}

.notes-textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem;
  color: white;

  font-size: 1rem;
  font-weight: 700;
}

.input_main_text {
  background: orange;
  border-radius: 1rem;
}

.photo_main {
  font-size: 1.3rem;
}

.create_post {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);

  padding: 1rem;
}

.btn_main_create_submit {
  width: 100%;
  height: 20px;
  background: #b9b9b958;
  color: white;
  text-align: center;
  transition: all 0.2s linear;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-top: 1rem;
}

.btn_main_create_submit:hover {
  background: #23232358;
  color: rgb(255, 255, 255);
}

.photo_text {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.ant-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.ant-btn {
  display: none !important;
}

.ant-modal-close-x {
  display: none !important;
}

.form_create_inp {
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.233);
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1rem;

  font-size: 1rem;
  font-weight: 600;
  color: white;
}

/* .user_pen_edit{
  font-size: 1rem;
  color: white;
  padding: 1rem;
} */

.user_pen_edit:active {
  transform: scale(0.8);
}

.form_profile_edit_model {
  width: 100%;
  background: #bbbbbb6e;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
}

.btn_profile_update_submit {
  padding: 1rem;
  color: rgb(255, 255, 255);
  background: rgba(233, 191, 83, 0.693);
  border-radius: 1rem;
  margin-top: 1rem;
  width: 100%;
  transition: all 0.3s linear;
}

.btn_profile_update_submit:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 184, 6, 0.999);
}

.user_bio {
  margin-top: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffffd6;
  margin-left: 1rem;
}

.home_card_bio {
  font-size: 0.9rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-weight: 300;
  margin-top: 0.8rem;
  color: rgba(255, 255, 255, 0.775);
}

.profile_main_row {
  background: rgba(97, 135, 225, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  padding: 1rem;
}

.mobile_break_bg {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
}

.user_slink {
  margin-left: 1rem;
}

.a_of_profile:hover {
  text-decoration: underline;
}

.activity {
  font-size: 1.3rem;
}

.profile_create_post {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: rgba(255, 255, 255, 0.116);
  padding: 0.4rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(0, 115, 255);
}

.content_on_profile_post {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.editCard {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);

  margin-top: 3rem;
}

.editPostText {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.2px;
}

.delete_post {
  font-size: 1rem;
  /* margin-right: 0.1rem; */
}

.delete_me,
.edit_post_wrapper {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s linear;
}

.delete_me:hover,
.edit_post_wrapper:hover {
  background: rgba(26, 26, 26, 0.363);
  color: white;
}

.delete_me:active,
.edit_post_wrapper:active {
  transform: scale(0.91);
}

/* 1149 */

@media (max-width: 1149px) {
  .play_me {
    display: none;
  }
}

@media (max-width: 751px) {
  .likesandcomments,.post_profile_tags{
    margin-top: 1rem;
  }
  
}


.connection_heading {
  background-color: rgba(255, 255, 255, 0.074);
  color: white;
  text-align: center;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-left: 0.2rem;

  font-size: 2rem;
}

.connectionCard {
  margin-left: 1rem;
  margin-top: 1rem;
}

.user_info{
  margin-top: 2.5rem;
}

@media (max-width: 991px) {
  .post_detail_card {
    margin-top: 2rem;
    margin-left: 0px;
  }

  .user_info{
    margin-top: 1rem !important;
  }

  .img_profile{
    display: none;
  }

  .connection_heading {
    margin-top: 1rem;
  }

  .connectionCard {
    margin-left: 0rem;
    width: 100%;
    margin-top: 1rem;
  }
}

.comment_structure {
  margin-top: 1rem;
  margin-left: 0.4rem;
  background: rgba(182, 182, 182, 0.452);
  padding: 1rem;
  border-radius: 1rem;
}

@media (max-width: 498px) {
  .bio_of_user {
    display: none;
  }

  .connection_heading {
    font-size: 1rem;
  }

  .like_share_comment {
    font-size: 1rem;
  }

  .comment,
  .share {
    margin-left: 0.3rem;
  }
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.bio_of_user {
  font-size: 0.8rem;
  color: rgb(215, 215, 215);
}

.comment_this_post {
  margin-top: 2rem;
  width: 100%;
}

.comment_inp {
  width: 100%;
  background: #ffffff3f;
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.submit_comment {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: rgb(255, 225, 0);
  color: rgb(30, 30, 30);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 0.2s linear;
}

.submit_comment:active {
  transform: scale(0.9);
}

.break_line {
  color: #ffffff8c !important;
}

.follow_btn {
  padding: 0.4rem 1rem 0.4rem 1rem;
  background: rgb(35, 105, 255);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: max-content;
  height: max-content;
  border-radius: 1rem;
  transition: all 0.2s linear;
}

.follow_btn:hover {
  background: rgb(65, 125, 255);
}

.follow_btn:active {
  background: rgb(65, 125, 255);
  transform: scale(0.91);
}

.follow_btn_main {
  /* margin-left: 1rem; */
}

.card_wala_bio {
  max-width: 200px;
  text-align: center;
}

.card_connection_wala {
  width: 100%;
  height: 370px;
}

.searchbox {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  padding: 1rem;
}
